<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tele-talk</title>
    <script defer src="http://localhost:8000/socket.io/socket.io.js"></script>
    <script defer src="/static/client.js"></script>
    <script src="https://kit.fontawesome.com/5d19a2262d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
        <img src="/static/phone-call.png" alt="tele-talk" class="logo">
        <h1>tele-talk</h1>
    </nav>
    <div class="container">
        <!-- <div class="message center">Harry joined</div>
        <div class="message left">H:Hi man !</div>
        <div class="message right">A:Hello</div> -->

    </div>
    <div class="send">
        <form action="#" id="send-container">
            <input type="text" name="messageInp" id="messageInp">
            <button type="submit" class="btn">Send
                <!-- <span>
                    <i class="fa-solid fa-paper-plane-top"></i>
                </span> -->
            </button>
        </form>
    </div>
    <footer>Created By SHB</footer>
</body>
</html>